{% extends 'templateAllPages.html' %}

{% block body %}

  <!--Hero 1 Start-->

    <div class="bg bg-warning text-white pt-5 pb-5">
        <div class="text-center pt-5 pb-5">
            <h1 class="display-1 me-2 ms-2">DnL, Drive and Lessons</h1>
            <p class="fs-4 mt-3">Une vidéo sera mise en arrière plan ici</p>
            <a href="schoolList.html" type="button" class="btn btn-primary shadow mt-5">Réservez votre cours</a>
        </div>
    </div>

  <!--Hero 1 End-->

{% endblock %}