<header>
  <nav class="navbar navbar-dark navbar-expand-lg">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">DNL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Réserver un cours</a>
          </li>
            {% if user.is_authenticated %}
                        <!--Si l'utilisateur est admin-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link active" href="{% url 'index' %}">Historique des réservations</a>-->
<!--                        </li>-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown">
                              Compte
                            </a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="{% url 'Reservations' %}">Mes réservations</a></li>
                              <li><hr class=""></li>
                              <li><a class="dropdown-item" href="{% url 'logout' %}">Se déconnecter</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="nav-item dropdown fs-5">
                            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown">
                              Compte
                            </a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="{% url 'login' %}">Se connecter</a></li>
                              <li><hr class=""></li>
                              <li><a class="dropdown-item" href="{% url 'CreationDeCompte' %}">S'inscrire</a></li>
                            </ul>
                        </li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>

     <!-- Affichage des messages (messages.info, .success) lorsqu'on se connecte/déco/valide une heure de conduite-->
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible text-center display-6" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endfor %}
        {% endif %}
        <!--Messages End-->
</header>
