<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DnL, Drive and Lessons</title>
    <!-- Fichier css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
      <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous" defer></script>

    {% block head %}
    {% endblock %}

  </head>


  <body>
    <header>
    <!-- Changer ici la couleur de la navbar -->
        <nav class="navbar bg-info  navbar-expand-lg">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav fs-5">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'schoolList' %}">Réserver un cours</a>
                        </li>
                        {% if user.is_authenticated %}
                        <!--Si l'utilisateur est admin-->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Historique des réservations</a>
                        </li>
                        <li class="nav-item dropdown fs-5">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                              Panel utilisateur
                            </a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="{% url 'index' %}">Profil</a></li>
                              <li><hr class=""></li>
                              <li><a class="dropdown-item" href="{% url 'logout' %}">Se déconnecter</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="nav-item dropdown fs-5">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                              Compte
                            </a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="{% url 'login' %}">Se connecter</a></li>
                              <li><hr class=""></li>
                              <li><a class="dropdown-item" href="{% url 'CreationDeCompte' %}">S'inscrire</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>


        <!-- Affichage des messages (messages.info, .success) lorsqu'on se connecte/déco/valide une heure de conduite-->
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible text-center display-6" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endfor %}
        {% endif %}
        <!--Messages End-->

    </header>


    {% block body %}
    {% endblock %}

  </body>
</html>